<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danh.bookingtour.mapper.UserMapper">

    <select id="findByUsername" resultType="com.danh.bookingtour.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <select id="existsByUsername" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN true ELSE false END FROM users WHERE username = #{username}
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN true ELSE false END FROM users WHERE email = #{email}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(username, password, email, role)
        VALUES(#{username}, #{password}, #{email}, #{role})
    </insert>

</mapper>
